.container {
  max-width: 960px;
}

.racial-justice {
  color: white;
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
